{% extends 'SiriuxGazerBundle:Admin:layout.html.twig' %}

{% form_theme edit_form 'SiriuxGazerBundle:Admin/Form:fields.html.twig' %}

{% block title %} Edit User | {{ parent() }} {% endblock %}

{% block breadcrumb %}
    <a href="{{ path('users') }}">Users</a>
    <div class="breadcrumb_divider"></div>
    <a class="current">Edit</a>
{% endblock %}

{% block body %}

<article class="module width_full">
    <header><h3>Update User Information</h3></header>
    <div class="module_content">
        <form action="{{ path('users_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <input type="submit" value="Update" class="alt_btn" />
        </form>
    </div>
    <footer>
        <div class="submit_link">
            <form action="{{ path('users_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <input type="submit" value="Delete" />
                or <a href="{{ path('users') }}">Cancel</a>
            </form>
        </div>
    </footer>
</article>

{% endblock %}