{% extends 'SiriuxGazerBundle:Default:home.html.twig' %}

{% block fos_user_header %}Upload photo:{% endblock %}

{% block fos_user_content %}
{% form_theme form theme %}
<form action="{{ path('photo_create') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <input type="submit" value="Upload &rarr;" class="dropsubmitbtn" />
</form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".dropbtn").click(function(){
                $("#dropdown").slideToggle("slow");
                $(this).toggleClass("active");
            });
        });
    </script>
    <script src="{{ asset('js/jquery.quicksand.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block body %}
    <nav id="filter"></nav>
    <div class="portfolioseperator"></div>
    <div class="portfoliocontainer">
        <ul id="stage">
            {% for image in images %}
            <li data-tags="{{ image.gallery.name }}">
                <a href="#"><span class="portfoliohover"><h1 class="porthover1">{{ image.media.title }}</h1><h1 class="porthover2">{{ image.media.description }}</h1></span>{% thumbnail image.media, 'small' %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
