{% extends 'SiriuxAdminBundle::layout.html.twig' %}

{% block title %}Photos: {{ block('subtitle') }} | {{ parent() }} {% endblock %}

{% block section %}Photos{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('admin_photos') }}">{{ block('section') }}</a>
    <div class="breadcrumb_divider"></div>
    {% block breadcrumb_section %}{% endblock %}
    <a class="current">
        {% block breadcrumb_current %}{{ block('subtitle') }}{% endblock %}
    </a>
{% endblock %}
