{% extends 'SiriuxGalleryBundle:Admin/Photos:_list.html.twig' %}

{% block subtitle %}{{ gallery.name }} gallery{% endblock %}

{% block breadcrumb_section %}
    <a href="{{ path('admin_gallery_photos', {'id': gallery.id }) }}">{{ block('subtitle') }}</a>
    <div class="breadcrumb_divider"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#edit_gallery').click(function() {
            window.location = "{{ path('admin_gallery_edit', {'id': gallery.id}) }}"
        });
    });
    </script>
{% endblock%}

{% block body %}
<article class="module width_full">
    <header>
        <h3>{{ block('section') }} from gallery {{ gallery.name }}</h3>
    </header>
    {% include 'SiriuxGalleryBundle:Admin/Photos:__list.html.twig' %}

    <footer>
        <div class="submit_link">
            <input id="edit_gallery" type="submit" value="Edit gallery" title="Edit gallery" /> or
            <a href="{{ path('admin_photos') }}">View all photos</a>
        </div>
    </footer>
</article>
{% endblock %}
