{% extends 'SiriuxGalleryBundle:Admin/Photos:_list.html.twig' %}

{% block subtitle %}{{ user.username }}'s gallery{% endblock %}

{% block breadcrumb_section %}
    <a href="{{ path('admin_user_photos', {'id': user.id }) }}">{{ block('subtitle') }}</a>
    <div class="breadcrumb_divider"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#edit_user').click(function() {
            window.location = "{{ path('users_edit', {'id': user.id}) }}"
        });
    });
    </script>
{% endblock%}

{% block body %}
<article class="module width_full">
    <header>
        <h3>{{ block('section') }} from user {{ user.username }}</h3>
    </header>
    {% include 'SiriuxGalleryBundle:Admin/Photos:__list.html.twig' %}

    <footer>
        <div class="submit_link">
            <input id="edit_user" type="submit" value="Edit user" title="Edit user" /> or
            <a href="{{ path('admin_photos') }}">View all photos</a>
        </div>
    </footer>
</article>
{% endblock %}
